# strava_flutter specific
secret.dart
todo.txt
# temp 

.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
.flutter-plugins-dependencies
package-strava-flutter.code-workspace
pubspec.lock
example/.flutter-plugins-dependencies
example/ios/Flutter/flutter_export_environment.sh
